@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Proving that bootstrap works with JUMBOTRON!</h1>
</div>

<p>Below is the Bootstrap Carousel used to navigate through images.</p>
<p>This was developed in a new ASP.NET Web Application which was stripped back to have no scripts or styles. Npm was then set up and webpack installed and configured along with jquery, bootstrap and more.</p>
<p>An index.ts file was created along with an index.css file. They are both set to import the required dependencies from the node_modules folder. It's worth noting that no Nuget packages were manually installed since the creation of this project.</p>

<div class="sohail">
    <div id="demo" class="carousel slide" data-ride="carousel" data-interval="false">
        <div class="carousel-inner">
            <div class="carousel-item active"><img class="d-block w-100" src="https://via.placeholder.com/700x300.png?text=img0"></div>
            <div class="carousel-item"><img class="d-block w-100" src="https://via.placeholder.com/700x300.png?text=img1"></div>
            <div class="carousel-item"><img class="d-block w-100" src="https://via.placeholder.com/700x300.png?text=img2"></div>
        </div>
        <a class="carousel-control-prev" href="#demo" role="button" data-slide="prev"><span class="carousel-control-prev-icon"></span></a>
        <a class="carousel-control-next" href="#demo" role="button" data-slide="next"><span class="carousel-control-next-icon"></span></a>
    </div>
</div>